// basic
$primary: #FFFFFF;
$secondary: #8D7FC7;
$accent: #008AFF;

$text-color: #323854;
$bg-color: $primary;

// button
$bg-hover-button: #7362BC;
$text-button: $primary;
$bg-default-button: $secondary;
$bg-disabled-button: $primary;

// link
$link-hover: $accent;

$error: #E84849;